 body {
  margin:0;
  padding: 0;
 }

/* Header */
header {
  position: fixed;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: white;
  text-align: center;
  z-index: 1;
}

header img {
  height: 45px;
}

/* Banner Section */

.banner img {
  width: 100%;
  height: 100%;
}

.banner h2 {
  position: absolute;
  top:30%;
  padding: 20px;
  background-color: rgba(0,0,0,0.5294117647058824) ;
  border-radius: 5px;
  color: white;
  left: 20px;
}

.banner {
  position: relative;
  text-align: center;
}

.banner h2 span {
  font-weight: bold;
  font-size: 1.3em;
}

/* Navigation links */

nav {
  background-color: lightgray;
  position: sticky;
  top:85px
}

nav li {
  display: inline-block;
  width: 25%;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #17406c;
}

nav ul {
  white-space: nowrap;
  max-width: 1000px;
  margin: 0 auto;
}


